<%= render "layouts/shared/header" %>
<div class="contents row">
  <div class="container">
    <h2>新規登録</h2>
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
     <%= render 'devise/shared/error_messages', resource: resource %>

       <%= render partial: 'users/form', locals: { f: f } %>

      <div class="action">
        <%= f.submit "新規登録" %>
      </div>
    <% end %>
  </div>
</div>
 <%= render "layouts/shared/footer" %>