<%= render "layouts/shared/header" %>
<div class="contents">
  <div class="first-view">
    <img src="assets/Culture.jpeg" alt="トップ画面" class="top-image" >
  </div>
  <div class="board-wrap">
    <div class="board-index-text">
      <h2>【Culture一覧】</h2>
    </div>
  </div>

  <div class="board-contents">
    <ul class="board-lists">
      <% @boards.each do |board| %>
      <li class="list">
        <%= link_to board_path(board.id) do %>
          <div class='board-img-content'>
              <%= image_tag board.image, class: "board-index-img" %>
          </div>
          <div class='board-info'>
            <p class='board-name'>
              <%= board.title %>
            </p>
          </div>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>

   <div class='board-btn'>
      <%= link_to new_board_path do %>
      <span class= "board-btn-text">投稿</span>
      <% end %>
    </div>
</div>
<%= render "layouts/shared/footer" %>